* text=auto !eol
/Makefile -text
/apertium-lit.lit.dix -text
texts/lietuvos_tsr1.handtagged.Augustus.txt -text
texts/lietuvos_tsr1.raw.txt -text
texts/lietuvos_tsr1.tagged.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
